@using NecronomiconVitae.CorpusMaleficarum.Models

@inject IThemeService ThemeService
@inject IJSRuntime JSRuntime

<select @bind="SelectedTheme">
    @foreach (var theme in ThemeService.AvailableThemes)
    {
        <option value="@theme">@theme.ToString()</option>
    }
</select>

@code {
    private bool _isInitialized = false;

    private Theme _selectedTheme;

    private Theme SelectedTheme
    {
        get => _selectedTheme;
        set
        {
            if (_selectedTheme != value)
            {
                _selectedTheme = value;
                _ = OnThemeChanged();
            }
        }
    }

    protected override void OnInitialized()
    {
        _selectedTheme = ThemeService.CurrentTheme;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !_isInitialized)
        {
            _isInitialized = true;
            await ThemeService.InitializeThemeAsync(JSRuntime);
            _selectedTheme = ThemeService.CurrentTheme;
            StateHasChanged();
        }
    }

    private async Task OnThemeChanged()
    {
        await ThemeService.SetThemeAsync(SelectedTheme, JSRuntime);
    }
}