@using NecronomiconVitae.CorpusMaleficarum.Models

@inject IThemeService ThemeService

<select @bind="SelectedTheme">
    @foreach (var theme in ThemeService.AvailableThemes)
    {
        <option value="@theme">@theme.ToString()</option>
    }
</select>

@code {
    private Theme _selectedTheme;

    private Theme SelectedTheme
    {
        get => _selectedTheme;
        set
        {
            if (_selectedTheme != value)
            {
                _selectedTheme = value;
                _ = OnThemeChanged();
            }
        }
    }

    protected override void OnInitialized()
    {
        _selectedTheme = ThemeService.CurrentTheme;
    }

    private async Task OnThemeChanged()
    {
        await ThemeService.SetThemeAsync(SelectedTheme);
    }
}