@using NecronomiconVitae.CorpusMaleficarum.Models

@inject IThemeService ThemeService
@inject IJSRuntime JSRuntime

<select @bind="SelectedTheme">
    @foreach (var theme in ThemeService.AvailableThemes)
    {
        <option value="@theme">@theme.ToString()</option>
    }
</select>