@page "/grimoire/{imageType}"

@using NecronomiconVitae.CorpusMaleficarum.Models

<h3>Grimoire of @($"{ImageType}s")</h3>

@if (Images.Any())
{
    foreach (var image in Images[ImageTag.Image.ToString()])
    {
        <img src="@image.ThumbnailUrl" />
    }
}

<p>The sigils pulse with unseen intent, their twisted geometry shaping reality in ways the sane cannot fathom. Ink drips from quills not of this world, forming words that writhe and shift, defying comprehension. To read is to succumb, to understand is to kneel before the abyss</p>