@page "/"

<PageTitle>Corpus Maleficarum</PageTitle>

<section class="parent-container">
    <div class="section-1 main-grid-section">
        <p>section</p>
    </div>
    <div class="section-2 main-grid-section">
        <p>section</p>
    </div>
    <div class="section-3 main-grid-section">
        <p>section</p>
    </div>
</section>