@page "/"

<PageTitle>Corpus Maleficarum</PageTitle>

<h1>Necronomicon Vitae</h1>

<section class="parent-container">
    <div class="section-1 main-grid-section">
        <h2>Maleficarum</h2>
        <p>In the abyssal depths of forgotten tomes, inked in sanguine script upon weathered parchment, the knowledge of the forsaken stirs. Whispers slither through the void, syllables of a language long buried beneath time’s indifferent gaze. Those who dare trace the sigils find their minds unraveling, their souls tethered to truths not meant for mortal tongues. Each page, a binding spell; each word, a key to madness unchained. The parchment breathes, waiting for a hand bold enough to turn its final page.</p>
    </div>
    <div class="section-2 main-grid-section">
        <p>section</p>
    </div>
    <div class="section-3 main-grid-section">
        <p>The sigils pulse with unseen intent, their twisted geometry shaping reality in ways the sane cannot fathom. Ink drips from quills not of this world, forming words that writhe and shift, defying comprehension. To read is to succumb, to understand is to kneel before the abyss</p>
    </div>
</section>