@page "/"

<PageTitle>Corpus Maleficarum</PageTitle>

<h1>Necronomicon Vitae</h1>

<section class="parent-container">
    <div class="section-1 main-grid-section">
        <h2>Maleficarum</h2>
        <p>In the abyssal depths of forgotten tomes, inked in sanguine script upon weathered parchment.</p>
        <img src="https://placehold.co/500x400" alt="Front page image" class="responsive-image" />
        <p>The sigils pulse with unseen intent, their twisted geometry shaping reality in ways the sane cannot fathom. In the abyssal depths of forgotten tomes, inked in sanguine script upon weathered parchment.</p>
    </div>
    <div class="section-2 main-grid-section">
        <p>section</p>
    </div>
    <div class="section-3 main-grid-section">
        <p>The sigils pulse with unseen intent, their twisted geometry shaping reality in ways the sane cannot fathom. Ink drips from quills not of this world, forming words that writhe and shift, defying comprehension. To read is to succumb, to understand is to kneel before the abyss</p>
    </div>
</section>