@inherits LayoutComponentBase

@inject IThemeService ThemeService

<PageTitle>NecronomiconVitae.CorpusMaleficarum</PageTitle>

<div class="page @ThemeService.CurrentTheme">
    <div class="sidebar">
        <NavMenu />
        <NecronomiconVitae.CorpusMaleficarum.Pages.Components.ThemeToggle />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    protected override void OnInitialized()
    {
        ThemeService.OnThemeChanged += StateHasChanged;
    }

    public void Dispose()
    {
        ThemeService.OnThemeChanged -= StateHasChanged;
    }
}