@using NecronomiconVitae.CorpusMaleficarum.Models

<div class="top-row ps-5 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Necronomicon Vitae</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <ul>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="@($"grimoire/{ImageType.Illustration.ToString()}")" Match="NavLinkMatch.All">
                    <span class="oi" aria-hidden="true"></span> Forgotten Parchments
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="@($"grimoire/{ImageType.Tattoo.ToString()}")" Match="NavLinkMatch.All">
                    <span class="oi" aria-hidden="true"></span> Flesh Rites
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="scribestestament" Match="NavLinkMatch.All">
                    <span class="oi" aria-hidden="true"></span> Scribes Testament
                </NavLink>
            </li>
        </ul>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}