main {
    flex-grow: 1;
    padding: 1rem;
}

.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
}

.parent-container {
    display: grid;
    gap: 1rem;
}

.sidebar {
    width: 250px;
    background-color: var(--sidebar-bg);
    padding: 1rem;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* Mobile Layout */
@media (max-width: 768px) {
    .page {
        flex-direction: column;
    }
    
    .sidebar {
        width: 100%;
    }

    .content-container {
        flex-grow: 1;
    }
    
    .parent-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }
}

/* Desktop Layout */
@media (min-width: 769px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        display: block;
        width: 250px;
    }

    .content-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .parent-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
}

.main-grid-section {
    padding: 1rem;
    text-align: center;
}
