main {
    flex-grow: 1;
    padding: 1rem;
}

.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
}

.parent-container {
    display: grid;
    gap: 1rem;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* Mobile Layout */
@media (max-width: 991px) {
    .page {
        flex-direction: column;
    }
    
    .sidebar {
        width: 100%;
    }

    .content-container {
        flex-grow: 1;
    }
    
    .parent-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }

    .responsive-image {
        max-width: 96%;
        margin: 0 auto;
    }

}

/* Desktop Layout */
@media (min-width: 992px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        display: block;
    }

    .content-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .parent-container {
        grid-template-columns: 1fr 1fr content;
        grid-template-rows: 1fr content;
    }

    .section-1 {
        grid-column: span 2;
    }

    .section-2 {
        grid-column: 3;
    }

    .section-3 {
        grid-column: 1 / span 3;
        grid-row: 2;
    }
}

.main-grid-section {
    padding: 1rem;
    border: 1px solid var(--text-color);
}

.responsive-image {
    max-width: 100%;
    height: auto;
    display: block;
}
