.light {
    --bg-color: #ffffff;
    --text-color: #000000;
    --sidebar-bg: linear-gradient(180deg, #ffffff 0%, #b7b7b7 70%);
}

.dark {
    --bg-color: #121212;
    --text-color: #ffffff;
    --sidebar-bg: linear-gradient(180deg, #1e1e1e 0%, #404040 70%);
}

.console {
    --bg-color: #000000;
    --text-color: #00ff00;
    --sidebar-bg: linear-gradient(180deg, #1e1e1e 0%, #404040 70%);
    font-family: "Courier New", monospace;
}

.occult {
    --bg-color: #1e1b29;
    --text-color: #ffcc00;
    --sidebar-bg: linear-gradient(180deg, #1e1e1e 0%, #404040 70%);
    font-family: "Cloister Black", fantasy;
}

.retro {
    --bg-color: #f4a261;
    --text-color: #264653;
    --sidebar-bg: linear-gradient(180deg, #1e1e1e 0%, #404040 70%);
    font-family: "Press Start 2P", cursive;
}

main {
    background-color: var(--bg-color);
    color: var(--text-color);
}